<div class="container">
  <p id="notice"><%= notice %></p>

  <h1><%= @restaurant.name %></h1>

  <p>
    <strong>Name:</strong>
    <%= @restaurant.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @restaurant.address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= @restaurant.phone_number %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @restaurant.category %>
  </p>

  <%= link_to restaurants_path, class: 'btn btn-primary' do %>
    <i class="fas fa-undo-alt"></i> Back
  <% end %>
  <br>
  <br>
  <div class="review-heading">
    <h2>Reviews</h2>
    <%= link_to new_restaurant_review_path(@restaurant), class: 'btn btn-primary' do %>
      <i class="fas fa-plus"></i> Leave a Review
    <% end %>
  </div>

  <ul>
    
    <% @restaurant.reviews.first(5).each do |review| %>
      <li class='list-item-review'>
        <p><%= review.content %></p>
        <p><%= "<i class='fas fa-star'></i>".html_safe * review.rating %><%= "<i class='far fa-star'></i>".html_safe * (5 - review.rating) %></p>
      </li>
    <% end %>
    
  </ul>
</div>
